html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    flex: 0 1 auto;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
    text-align: center;
    color: hsl(0, 0%, 0%);
    font-size: 15px;
    background-image: url("../background1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2500px;
    word-break: break-all;
}

.main {
    margin: auto;
    max-width: 700px;
    padding: 100px 0;
}